$blue:        #e9f0f5;
$grey:        #ccc;
$grey-dark:   #89949b;
$grey-light:  #b8c3c8;
$red:         #ea7882;

$font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

$max-content-width: 1000px;